* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: whitesmoke;
}

#main-section {
  background-image: url(../assets/BG\ -\ Slides\ -\ FISIO\ RAUL\ -\ blue\ liso.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

#container {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-around;
}

#main-section-image {
  max-width: 600px;
}

#main-section-image img {
  position: relative;
  bottom: 28px;
  width: 100%;
  padding-top: 42%;
  object-fit: cover;
}

#main-section-texts {
  color: whitesmoke;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  gap: 30px;
}

#main-section-texts h1 {
  font-size: 42px;
}

#main-section-texts h4 {
  font-style: italic;
  font-size: 22px;
}

#text-span {
  color: #ffa200;
}

.redirect-button {
  width: 100%;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
  background-color: #ffa200;
  color: black;
  transition: all 0.3s;
}

.redirect-button:hover {
  background-color: whitesmoke;
  color: #ffa200;
}

@media (max-height: 650px) {
  #main-section-image img {
    bottom: 91px;
    width: 77%;
    padding-top: 10%;
  }

  #main-section-texts h1 {
    font-size: 33px;
    text-align: center;
  }

  #main-section-texts h4 {
    font-size: 16px;
    text-align: center;
  }
}

@media (max-width: 1200px) {
  #main-section {
    height: 100%;
  }
  #container {
    width: 100%;
    flex-direction: column;
    padding-top: 50px;
    gap: 50px;
  }

  #main-section-texts {
    width: 90%;
  }

  #main-section-image img {
    bottom: -6px;
  }
}

@media (max-width: 300px) {
  #main-section-texts h1 {
    font-size: 22px;
    text-align: center;
  }
  #main-section-texts h4 {
    font-size: 12px;
    text-align: center;
  }
  #main-section div a {
    width: 100%;
  }
}
#description {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#description-container {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-around;
}

#description-texts {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#description-texts h1:nth-child(1) {
  color: #003e74;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 600;
}

#description-texts h1:nth-child(2) {
  color: #3d3d3d;
  font-weight: 300;
  font-size: 22px;
}

#description img {
  height: 400px;
}

@media (max-width: 1200px) {
  #description-container {
    flex-direction: column-reverse;
    padding-top: 50px;
  }

  #description-texts h1:nth-child(1) {
    font-size: 16px;
  }
  #description-texts h1:nth-child(2) {
    font-size: 16px;
  }

  #description img {
    position: relative;
    right: -87px;
  }
}

#about {
  background-image: url(../assets/BG\ -\ Slides\ -\ FISIO\ RAUL\ -\ black.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right center;
  /*background: rgb(0, 112, 185);
  background: linear-gradient(
    90deg,
    rgba(0, 112, 185, 1) 0%,
    rgba(0, 43, 90, 1) 53%
  );*/
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  background-color: black;
}

#about-texts {
  display: flex;
  align-items: center;
  gap: 25px;
}

#main-text {
  margin-right: 200px;
  color: whitesmoke;
  width: 40%;
  display: flex;
  flex-direction: column;
  font-weight: 100;
  gap: 30px;
}

#main-text h1 {
  font-size: 32px;
  color: #ffa200;
  font-weight: 900;
}

@media (max-width: 1200px) {
  #about {
    justify-content: center;
    background-size: cover;
    background-position: center;
  }
  #main-text {
    width: 100%;
    margin-right: 0;
    padding: 15px;
  }
}

@media (max-width: 600px) {
  #about {
    height: 100%;
  }
  #about-texts span {
    display: none;
  }
}

@media (max-width: 300px) {
  #main-text h1 {
    font-size: 18px;
  }
  #about {
    font-size: 0.7em;
  }
}

/*@media (max-height: 650px) {
  #main-text {
    width: 60%;
  }
}*/

#course-divider {
  background-color: #002b5a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 380px;
  text-align: center;
}

#course-divider h1 {
  color: whitesmoke;
}

#course-divider p {
  color: whitesmoke;
  font-style: italic;
}

#course-divider span {
  color: #ffa200;
}

#course-divider img {
  width: 60px;
  color: whitesmoke;
}

#tittle{
  margin-top: 60px
}

#tittle h1 {
  font-size: 30px;
}

#course-description {
  justify-content: space-between;
  width: 100%;
  display: flex;
  height: 100vh;
}

#course-container {
  margin-right: 130px;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 55px;
}

#course-description-image{
  max-width: 831px;
}

@media (max-height: 710px){
  #course-description-image{
    max-width: 631px;
  }
}
@media (max-height: 850px){
  #course-description-image{
    max-width: 687px;
  }
}

#course-description-image img {
  width: 100%;
  padding-top: 12%;
  object-fit: cover;
}

#course-container h4 {
  text-align: left;
}

#tittle p {
  font-style: italic;
}

#course-container span:nth-child(1) {
  color: #ffa200;
}

#course-container span:nth-child(2) {
  color: #003e74;
}

#course-container span:nth-child(3) {
  color: #002b5a;
}

@media(max-width: 1200px){
  #course-description {
    flex-direction: column-reverse;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  #course-container {
    margin-right: 0px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 55px
  }
}
@media (max-width: 1090px) {
  

  #course-container {
    margin-right: 0;
    width: 100%;
  }

  #course-container p {
    font-weight: 700;
  }
}

@media (max-width: 350px) {
  #course-description {
    height: 100%;
  }
}

@media (max-height: 667px) {
  

  #course-description {
    height: 100%;
  }
}

#course-content {
  background-image: url(../assets/young-female-doctor-with-thumbs-up-gesture-standing-in-the-corridor-of-the-hospital.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: 100vh;
}

#course-content h1 {
  text-transform: uppercase;
  color: whitesmoke;
  margin-top: 80px;
  font-size: 36px;
}

#course-content a {
  margin-bottom: 80px;
}

#course-content span {
  color: #ffa200;
}

#content-container {
  display: flex;
}

.card-content {
  color: whitesmoke;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.align{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card-content h3 {
  text-align: center;
  font-size: 46px;
  letter-spacing: 5px;
}

.card-content p {
  font-size: 19px;
}

#course-content a {
  width: 50%;
}

.content-wrapper{
  display: flex;
  align-items: center;
}

@media (max-width: 600px) {

  #course-content h1 {
    text-align: center;
  }

  #course-content a {
    width: 90%;
  }
}

@media (max-width: 1400px) {
  #content-container {
    flex-direction: column;
    gap: 50px;
  }
}



#practice-content{
  background-image: url(../assets/WhatsApp\ Image\ 2022-09-06\ at\ 09.36.00.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#practice-content span{
  color: #ffa200;
}

@media (max-height:664px){
  #practice-content{
    height: 100%;
  }
}
